:root {
	--hidden-color: rgb(220, 160, 220);
	--hidden-accent: rgb(220, 120, 220);

	--none-color: rgb(250, 250, 250);

	--some-color: rgb(240, 240, 240);
	--some-accent: rgb(240, 200, 240);

	--flagged-color: rgb(255, 90, 100);
	--flagged-accent: rgb(255, 65, 85);

	--shadow-color: rgb(220, 220, 220);
}

#game-section {
	--rows: 0;
	--cols: 0;
	--square-size: 25px;
	--gap: 2.5px;
	--font-size: 20px;
}

.minefield-container {
	perspective: 400px;
	perspective-origin: center;

	display: inline-grid;
	grid-template-rows: repeat(var(--rows), var(--square-size));
	grid-template-columns: repeat(var(--cols), var(--square-size));
	gap: var(--gap);
}

.minefield-container > div {
	grid-row-start: auto;
	grid-column-start: auto;

	border-radius: var(--gap);
	transition: 0.2s ease-in-out;
	z-index: 0;

	text-align: center;

	box-shadow: 2px 2px 4px var(--shadow-color), -1px -1px 2px var(--some-color) inset;
}

.hidden {
	background-color: var(--hidden-color);
}

.hidden:hover {
	background-color: var(--hidden-accent);
	margin: -2.5%;
	z-index: 1;
}

div.none-adjacent {
	background-color: var(--none-color);
	box-shadow: none;
}

div.some-adjacent, div.auto-reveal-eligible {
	background-color: var(--some-color);
	box-shadow: 2px 2px 4px var(--shadow-color);
}

[class|=adjacent-mines] {
	font-family: 'Rowdies';
	font-size: var(--font-size);
	line-height: var(--square-size);
	transition: 0.2s ease-in-out;
	
	--angle: 0deg;
	transform: rotate(var(--angle));
	display: inline-block;

	pointer-events: none;
	user-select: none;
}

.adjacent-mines-0 {
	color: var(--some-color);
}

.adjacent-mines-1 {
	color: var(--hidden-color);
}

.adjacent-mines-2 {
	color: rgb(225, 147, 201);
}

.adjacent-mines-3 {
	color: rgb(230, 133, 181);
}

.adjacent-mines-4 {
	color: rgb(235, 119, 162);
}

.adjacent-mines-5 {
	color: rgb(240, 106, 143);
}

.adjacent-mines-6 {
	color: rgb(245, 92, 124);
}

.adjacent-mines-7 {
	color: rgb(250, 79, 104);
}

.adjacent-mines-8 {
	color: var(--flagged-accent);
}

.auto-reveal-eligible:hover {
	background-color: var(--some-accent);
	margin: -2.5%;
	z-index: 1;
}

.auto-reveal-eligible:hover > span {
	color: black;
	text-shadow: 0px 2px var(--some-color);
}

.flagged {
	background-color: var(--flagged-color);
}

.flagged:hover {
	background-color: var(--flagged-accent);
	margin: -2.5%;
	z-index: 1;
}

.lost-mine {
	background-color: var(--flagged-color);
}

.lost-mine > img {
	height: var(--square-size);
	--angle: 0deg;
	--x: 0px;
	--y: 0px;
	transform: scale(0.8) rotate(var(--angle)) translateX(var(--x)) translateY(var(--y));

	pointer-events: none;
	user-select: none;
}

div.lost-number {
	background-color: rgb(255, 205, 208);
	box-shadow: none;
}

div.lost-number > span {
	color: var(--flagged-accent);
	transition: 2s;
}

div.reset, div.reset * {
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.75, 1, 1, 1);
}

div.reset {
	animation-name: card-flip;
	--bg-color: none;
	transform-style: preserve-3d;
	
	box-shadow: none;
}

div.reset * {
	animation-name: card-content-fade;
}

@keyframes card-flip {
	49% 	{
		background-color: var(--bg-color);
	}
	50%		{
		transform: rotateX(-90deg);
	}
	51% 	{
		background-color: var(--hidden-color);
	}
	100%	{
		transform: rotateX(-180deg);
		background-color: var(--hidden-color);
	}
}

@keyframes card-content-fade {
	49%		{
		opacity: 100%;
	}
	51%		{
		opacity: 0%;
	}
	100%	{
		opacity: 0%;
	}
}