:root {
	--hidden-color: rgb(220, 160, 220);
	--hidden-accent: rgb(220, 120, 220);

	--none-color: rgb(250, 250, 250);

	--some-color: rgb(240, 240, 240);
	--some-accent: rgb(240, 200, 240);

	--flagged-color: rgb(255, 90, 100);
	--flagged-accent: rgb(255, 65, 85);

	--shadow-color: rgb(220, 220, 220);
}

#game-section {
	--rows: 0;
	--cols: 0;
	--square-size: 25px;
	--gap: 2.5px;
	--font-size: 20px;
}

.minefield-container {
	perspective: 400px;
	perspective-origin: center;

	display: inline-grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(var(--rows), var(--square-size));
	grid-template-columns: repeat(var(--cols), var(--square-size));
	gap: var(--gap);
}

.minefield-container > div {
	grid-row-start: auto;
	grid-column-start: auto;

	border-radius: var(--gap);
	transition: 0.2s ease-in-out;

	position: relative;
	z-index: 0;

	text-align: center;

	box-shadow: 2px 2px 4px var(--shadow-color),
		-1px -1px 2px var(--some-color) inset;
	pointer-events: inherit;
}

.hidden {
	background-color: var(--hidden-color);
	z-index: 0;
}

.hidden:hover {
	background-color: var(--hidden-accent);
	margin: -2.5%;
	z-index: 1;
}

div.none-adjacent {
	background-color: var(--none-color);
	box-shadow: none;
}

div.some-adjacent, div.auto-reveal-eligible {
	background-color: var(--some-color);
	box-shadow: 2px 2px 4px var(--shadow-color);
}

[class|=adjacent-mines] {
	font-family: 'Rowdies';
	font-size: var(--font-size);
	line-height: var(--square-size);
	transition: 0.2s ease-in-out;
	
	--angle: 0deg;
	transform: rotate(var(--angle));
	display: inline-block;

	pointer-events: none;
	user-select: none;
}

.adjacent-mines-0 {
	color: var(--some-color);
}

.adjacent-mines-1 {
	color: var(--hidden-color);
}

.adjacent-mines-2 {
	color: rgb(225, 147, 201);
}

.adjacent-mines-3 {
	color: rgb(230, 133, 181);
}

.adjacent-mines-4 {
	color: rgb(235, 119, 162);
}

.adjacent-mines-5 {
	color: rgb(240, 106, 143);
}

.adjacent-mines-6 {
	color: rgb(245, 92, 124);
}

.adjacent-mines-7 {
	color: rgb(250, 79, 104);
}

.adjacent-mines-8 {
	color: var(--flagged-accent);
}

.auto-reveal-eligible:hover {
	background-color: var(--some-accent);
	margin: -2.5%;
	z-index: 1;
}

.auto-reveal-eligible:hover > span {
	color: black;
	text-shadow: 0px 2px var(--some-color);
}

.flagged {
	background-color: var(--flagged-color);
}

.flagged:hover {
	background-color: var(--flagged-accent);
	margin: -2.5%;
	z-index: 1;
}

.lost-mine {
	background-color: var(--flagged-color);
}

.lost-mine > img, .won-mine > img {
	height: var(--square-size);
	--angle: 0deg;
	--x: 0px;
	--y: 0px;
	transform: scale(0.8) rotate(var(--angle)) translateX(var(--x)) translateY(var(--y));
	opacity: 0;
	transition: 0.2s;

	pointer-events: none;
	user-select: none;
}

div.lost-number {
	background-color: rgb(255, 205, 208);
	box-shadow: none;
}

div.lost-number > span {
	color: var(--flagged-accent);
	transition: 0.2s;
}

div.flip, div.flip * {
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.75, 1, 1, 1);
	transform-origin: center center 20px;
	z-index: 1;
}

div.flip {
	animation-name: card-flip;
	--bg-color: none;
	transform-style: preserve-3d;
	
	box-shadow: none;
}

div.flip * {
	animation-name: square-content-fade;
}

@keyframes card-flip {
	49% 	{
		background-color: var(--bg-color);
	}
	50%		{
		transform: rotateX(-90deg) translateZ(20px);
	}
	51% 	{
		background-color: var(--some-accent);
	}
	75%		{
		background-color: var(--some-accent);
	}
	100%	{
		transform: rotateX(-180deg) translateZ(40px);
		background-color: var(--hidden-color);
	}
}

@keyframes square-content-fade {
	49%		{
		opacity: 100%;
	}
	51%		{
		opacity: 0%;
	}
	100%	{
		opacity: 0%;
	}
}

[class|=won] {
	pointer-events: none;
}

div.won-mine {
	background-color: #b3eae2;
}

div.won-mine > img.shaking {
	animation-name: shake;
	animation-duration: 0.75s;
}

@keyframes shake {
	0%	{
		transform: translateX(3px) translateY(2px) scale(0.80);
	}
	2%	{
		transform: translateX(1px) translateY(2px) scale(0.79);
	}
	4%	{
		transform: translateX(-3px) translateY(1px) scale(0.78);
	}
	6%	{
		transform: translateX(-2px) translateY(-2px) scale(0.77);
	}
	8%	{
		transform: translateX(1px) translateY(-2px) scale(0.76);
	}
	10%	{
		transform: translateX(3px) translateY(-3px) scale(0.75);
	}
	12%	{
		transform: translateX(-3px) translateY(-3px) scale(0.74);
	}
	14%	{
		transform: translateX(-3px) translateY(-2px) scale(0.73);
	}
	16%	{
		transform: translateX(-2px) translateY(-2px) scale(0.72);
	}
	18%	{
		transform: translateX(2px) translateY(3px) scale(0.71);
	}
	20%	{
		transform: translateX(-3px) translateY(-1px) scale(0.70);
	}
	22%	{
		transform: translateX(-1px) translateY(2px) scale(0.69);
	}
	24%	{
		transform: translateX(3px) translateY(-3px) scale(0.68);
	}
	26%	{
		transform: translateX(3px) translateY(2px) scale(0.67);
	}
	28%	{
		transform: translateX(-3px) translateY(1px) scale(0.66);
	}
	30%	{
		transform: translateX(1px) translateY(1px) scale(0.65);
	}
	32%	{
		transform: translateX(1px) translateY(-3px) scale(0.64);
	}
	34%	{
		transform: translateX(-3px) translateY(1px) scale(0.63);
	}
	36%	{
		transform: translateX(-1px) translateY(0px) scale(0.62);
	}
	38%	{
		transform: translateX(0px) translateY(3px) scale(0.61);
	}
	40%	{
		transform: translateX(-1px) translateY(1px) scale(0.60);
	}
	42%	{
		transform: translateX(3px) translateY(1px) scale(0.59);
	}
	44%	{
		transform: translateX(3px) translateY(1px) scale(0.58);
	}
	46%	{
		transform: translateX(-1px) translateY(-3px) scale(0.57);
	}
	48%	{
		transform: translateX(0px) translateY(1px) scale(0.56);
	}
	50%	{
		transform: translateX(3px) translateY(3px) scale(0.55);
	}
	52%	{
		transform: translateX(1px) translateY(3px) scale(0.54);
	}
	54%	{
		transform: translateX(-2px) translateY(0px) scale(0.53);
	}
	56%	{
		transform: translateX(-2px) translateY(2px) scale(0.52);
	}
	58%	{
		transform: translateX(0px) translateY(1px) scale(0.51);
	}
	60%	{
		transform: translateX(-3px) translateY(0px) scale(0.50);
	}
	62%	{
		transform: translateX(-3px) translateY(-2px) scale(0.49);
	}
	64%	{
		transform: translateX(-2px) translateY(0px) scale(0.48);
	}
	66%	{
		transform: translateX(-1px) translateY(0px) scale(0.47);
	}
	68%	{
		transform: translateX(-3px) translateY(-3px) scale(0.46);
	}
	70%	{
		transform: translateX(2px) translateY(-1px) scale(0.45);
	}
	72%	{
		transform: translateX(-1px) translateY(-1px) scale(0.44);
	}
	74%	{
		transform: translateX(-3px) translateY(1px) scale(0.43);
	}
	76%	{
		transform: translateX(-1px) translateY(2px) scale(0.42);
	}
	78%	{
		transform: translateX(1px) translateY(-3px) scale(0.41);
	}
	80%	{
		transform: translateX(2px) translateY(2px) scale(0.40);
	}
	82%	{
		transform: translateX(0px) translateY(-1px) scale(0.39);
	}
	84%	{
		transform: translateX(2px) translateY(-2px) scale(0.38);
	}
	86%	{
		transform: translateX(-3px) translateY(-2px) scale(0.37);
	}
	88%	{
		transform: translateX(0px) translateY(3px) scale(0.36);
	}
	90%	{
		transform: translateX(-1px) translateY(0px) scale(0.35);
	}
	92%	{
		transform: translateX(0px) translateY(2px) scale(0.34);
	}
	94%	{
		transform: translateX(3px) translateY(-3px) scale(0.33);
	}
	96%	{
		transform: translateX(1px) translateY(0px) scale(0.32);
	}
	98%	{
		transform: translateX(3px) translateY(0px) scale(0.31);
	}
	100%{
		transform: translateX(2px) translateY(2px) scale(0.30);
	}
}

.confetti {
	position: absolute;
	animation-name: poof;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0, 0.75, 1, 1);
  }
  
  @keyframes poof {
	0%   {
	  transform: scale(1.0) translateZ(1px);
	  box-shadow: 1px 1px 2px #f0f0f0;
	  opacity: 0;
	}
	5%  {
	  opacity: 1;
	}
	65%  {
	  opacity: 1;
	}
	100% {
	  transform: scale(1.2) translateZ(1px);
	  box-shadow: 2px 2px 4px #d0d0d0;
	  opacity: 0;
	}
  }

div.won-number {
	background-color: var(--none-color);
	box-shadow: none;
}

div.won-number > span {
	color: #50c5B7;
	transition: 0.2s;
}